@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

.font-comic {
  font-family: 'Bangers', cursive;
}

body {
  background-color: #d66c2a;
  background-image: url('/bg.svg'); /* or .png */
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}
